body {
    margin: 0 auto;
    text-align: center;
}
textarea {
    width:800px;
    height: 250px;
    background-color: lightyellow;
}
#buttons {
    margin: 1rem 0;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
#story_display {
    width: 800px;
}
p {
    width: 800px;
    margin: 0 auto;
    text-align: left;
}