body{
    margin: 0;
}
.hero{
    background-image: url(images/brooke-lark-wMzx2nBdeng-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.navbar{
    padding: 0;
    height:100px;
    background-color: rgb(185,99,79);
}
.logo-items {
    margin: 0;
}
#img-logo {
    margin-left: 1rem;
    max-height: 50px;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    margin-left: 2rem;
}
p {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    text-align: center;
}
.links {
    font-family: 'Oswald', sans-serif;
    color:#212529;
    text-decoration: none;
    font-size: 20px;
    margin-right: 2.5rem;
}
:root {
    --mainColor:  #415347;
  }
.links {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 3px 3px;
    color:  #212529;
    text-decoration: none;
    transition: background-size .2s;
    font-size: 18px;
  }
a {
    text-decoration: none;
    color:  #212529;
 } 
a:hover {
    color: rgb(226, 226, 226);
    background-size: 3px 50px;
}
.btn-search {
    background-color: #6b816f ;
}
.cuisine {
      background-color: rgb(185,99,79);
}

.cuisine-img {
    padding: 1rem;
    max-width: 175px;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.cuisine-img:hover {
    opacity: .5;
}

h2{
      font-family: 'Oswald', sans-serif;
      font-size: 38px;
      padding: 1rem;
}
h5 {
    color:  rgb(238, 238, 238);
}
.img-wrapper{
    
    position: relative;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-plan {
    background-image: url(images/table-top-with-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
}
.meals {
    display: flex;
    flex-direction: column;
}
.img-card{
    height: 10rem;
    border-radius: 4px;
    object-fit: cover;
}
.card-container {
    padding: 1rem;
    
    display: block;
}
.card {
    padding: .5rem;
    background-color: #6b816f;
    color:rgb(238, 238, 238);
    border-radius: 4px;
    position: relative;
}
.text-overlay {
    background-color:rgb(185,99,79);
    color:rgb(238, 238, 238);
    text-align: center;
    font-size: .85rem;
    position: absolute;
    left: 0;
    padding: .25rem .5rem;
    margin-top: 1rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

/*----Results Page---*/
.results-page{
    background-image: url(images/table-top-with-background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.results-query-name {
    text-transform: uppercase;
    margin: 3rem 0 2rem 0;
}
.recipes {
    max-width: 1280px;
    margin: 0 auto;
}
.show-results {
    justify-content: space-evenly;
}

/*----Recipes Page---*/
.recipe-card {
    max-width: 1280px;
    margin: 0 auto;
}
.recipe {
    max-width: 600px;
    padding: 1rem;
}
.ingredients-list {
    padding: 1rem;
}
.ingredients-list li{
    padding-top: .5rem;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}
.img-recipe {
    border-radius: 4px;
    object-fit: cover;
}

/*----medium---*/
@media only screen and (min-width: 32.5em) {
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cuisine {
        height: 100vh;
        background-color: rgb(185,99,79);
    }
    p {
        padding: 0;
    }
    .hero div{
        width: 75%;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .nav-links {
        display: flex;  
        flex-direction: column;
    }
    #img-logo{
        max-height: 50px;
    }
    h1{
        font-size: 24px;
    }
    .links {
        font-size: 20px;
    }
    
    
}


/*----large---*/
@media only screen and (min-width: 64em) {
    .images {
        display: flex;
        justify-content: space-around;
        max-width: 900px;
    }
    .meals {
        display: flex;
        flex-direction: row;
    }
    .card-container {
        padding: 1rem;
        width: 33.3333333%;
        display: block;
    }.menu-plan {
        height: 100vh;
        width: 100%
    }
    .hero div{
        width: 50%;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
    }
    #img-logo {
        max-height: 80px;
    }
    h1 {
        font-size: 34px;
    }
}
