@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&family=Open+Sans&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    color: #e89e10;
    text-align: center;
    font-family: 'Geostar Fill', cursive;
}

main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

main::after {
    background: url(./images/bb8_1.svg) no-repeat;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    left: -25px;
    z-index: -1;
    margin-top: 20%;
}

button {
    background-color: rgba(232, 158, 16, 1);
    color: white;
    font-size: .9em;
    border: 1px solid #e89e10;
    border-radius: 3px;
    font-family: 'Geostar Fill', cursive;
    cursor: pointer;
    text-align: center;
    padding: 1em;
}

.backbutton {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 1em;
}

.mainlist li {
    padding: 0 .5em;
    line-height: 2em;
    text-align: left;
}

.full-detail li {
    border: none;
}

.pagination {
    text-align: center;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.active {
    color: blue;
}

.names:hover {
    cursor: pointer;
}

#titles {
    position: absolute;
    width: 50vh;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -7em;
    font-size: 200%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    z-index: -1;
}

#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    pointer-events: none;
}

#titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 4s infinite;
    color: yellow;
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -170%;
    }
}

ul#starwars {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 50vh;
    min-width: 50vw;
}

ul#starwars li {
    background: #ecfcff;
    box-shadow: #4df 0px 0px 0px 2px;
    font-size: 1em;
    /* line-height: 1.25em; */
    padding: 0px;
    padding-left: 15px;
    margin: 16px 0px;
    width: 50%;
    border-radius: 0px 100px 100px 0px;
    transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
    color: black;
    opacity: 0.3;
}

ul#starwars li:hover {
    box-shadow: #4df 0px 0px 20px 2px;
    text-shadow: #4df 0px 0px 6px, #4df 0px 0px 10px;
    opacity: 1;
}

ul#starwars li:hover {
    width: 98%;
    padding: 0px 16px 0px 0px;
    color: black;
    text-align: center;
}

ul#starwars li.full-detail{
    background: transparent;
    width: 100%;
    box-shadow: transparent 0px 0px 0px 2px;
    opacity: 0.8;
}

ul#starwars li.full-detail{
    opacity: 1;
}

ul#starwars li.green {
    background: #e6ffe6;
    box-shadow: #0F0 0px 0px 0px 2px;
}

ul#starwars li.green:hover {
    box-shadow: #0F0 0px 0px 20px 2px;
    text-shadow: #0F0 0px 0px 6px, #0F0 0px 0px 10px;
}

ul li.red {
    background: #ffe6e6;
    box-shadow: #F00 0px 0px 0px 2px;
}

ul li.red:hover {
    box-shadow: #F00 0px 0px 20px 2px;
    text-shadow: #F00 0px 0px 6px, #F00 0px 0px 10px;
}